@charset  "UTF-8";

body
{
background-color: #122f35b4;
}
main
{
background-color: azure;

padding: 10px;
margin: auto;
}
    
h1{
    color: rgb(36, 14, 115);
    text-align: center;
    
}
h2{
   color: rgba(145, 11, 38, 0.897);
   text-shadow: 1px,1px,2px,black;
}
p{
    color: black;
}